<ion-view title="{{title}}">
  
  <!--Content-->
  <ion-content>
    
    <!--Show message if there is no internet connection-->
    <div class="content-center" ng-if="connection==false">
      <i class="ion-alert-circled font22"></i> Couldn't refresh feed
    </div>
    
    <!--Content Detail-->
    <div class="list card">
      
      <!--Item category-->

      <div class="subject" style="padding-bottom:0">
          <div class="title">
              <a ng-href="#" >
                  {{recipe.title}}
              </a>
          </div>
          <small class="category">{{recipe.category_name}}</small>
      </div>
      <!--/Item category-->
      
      <!--Item body-->
      <div class="item item-body">
        
        <!--Item image-->
        <a ng-init="isImageFull=false" ng-click="isImageFull=!isImageFull" ng-class="isImageFull?'half':'full'">
          <img class="full-image" ng-src="{{recipe.thumb}}" err-src="img/logo.png">
        </a>

        <!--Button list for like and comment-->
        <div class="clearfix button-list">
          
          <!--Container for button like-->
          <div class="button-container">

            <!--Show if user didn't like this item-->
            <div ng-if="recipe.is_love == 0">
              <button ng-click="toggleLove(recipe.id); recipe.is_love = 1; recipe.total_love = 1 * recipe.total_love + 1;" class="button button-small button-stable">
                <span class="ion-heart font16"></span>
              </button>
            </div>

            <!--Show if user like this item-->
            <div ng-if="recipe.is_love != 0">
              <button ng-click="toggleLove(recipe.id); recipe.is_love = 0; recipe.total_love = 1 * recipe.total_love - 1;" class="button button-small button-stable button-like">
                <span class="ion-heart font16"></span>
              </button>
            </div>

            <!--Show total like-->
            <div class="count-box">
              {{recipe.total_love}}
            </div>
            <div class="triangle"></div>
            <!--Show total like-->

          </div>
          <!--/Container for button like-->

          <!--Container for button comment-->
          <div class="button-container">
            <a ng-href="#/layout/comments/{{recipe.id}}" class="button button-small button-stable">
              <span class="ion-chatbox font18"></span>
            </a>

            <!--Show total comment-->
            <div class="count-box">
              {{recipe.total_comment}}
            </div>
            <div class="triangle"></div>
            <!--Show total comment-->

          </div>
          <!--Container for button comment-->
        
        </div>
        <!--/Button list for like and comment-->

        <!--Title-->
        <h2 class="title">
          <a ng-href="#/layout/recipe-detail/{{recipe.id}}">
            {{recipe.title}}
          </a>
        </h2>
        <!--/Title-->

        <!--Description-->
        <div ng-bind-html="recipe.description"></div>
        <!--Description-->
        
        <br>
        
        <!--Button share-->
        <button class="button button-stable icon-left ion-forward" type="button" ng-click="share(recipe.id, recipe.title)">Share</button>
        <!--Button share-->

      </div>
      <!--Item body-->
    </div>
    <!--Content Detail-->

    <div style="height:32px;"></div>

  </ion-content>
  <!--Content-->

</ion-view>