<ion-view title="Password Reset">
    
    <ion-content style="top:65px !important">
        
        <div class="content-center" ng-if="connection==false">
            <i class="ion-alert-circled font22"></i> No internet connection.
        </div>
        
        <form name="signup_form">
            <div class="list card no-background">
                <label class="item item-input">
                    <input type="text" placeholder="Username/Email" name="fullname" ng-model="email" ng-required="true" />
                </label>
                
                <br>
                <button ng-click="onReset()" class="button button-block button-assertive">Reset</button>
                <br>
                <div style="color:#666">Instructions and URL to reset your password will be sent to your email. </div>
            </div>
        </form>
        
    </ion-content>
    
</ion-view>