<ion-view title="Register">
	
  <ion-content style="top:65px !important">
    
    <div class="content-center" ng-if="connection==false">
      <i class="ion-alert-circled font22"></i> No internet connection.
    </div>
    
    <form name="signup_form" ng-submit="signup(user)">
      <div class="list card no-background">
        <label class="item item-input">
          <input type="text" placeholder="Fullname..." name="fullname" ng-model="user.fullname" >
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Email..." name="email" ng-model="user.email" >
        </label>
        
        <label class="item item-input">
          <input type="password" placeholder="Password..." name="password" ng-model="user.password" >
        </label>
        
        <label class="item item-input">
          <input type="password" placeholder="Retype Password..." name="repassword" ng-model="user.repassword" >
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Phone number..." name="phone" ng-model="user.phone" >
        </label>
        
        <br>
        <button class="button button-block button-assertive icon-left ion-person-add">Sign Up</button>
      </div>
    </form>

  </ion-content>
  
</ion-view>